.mainDiv {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}
.mainDiv > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.mainDiv > ul > li {
  margin-right: 30px;
}

.dropdown {
  position: relative;
  display: flex;
}
.dropdowncontent {
  display: none;
  /* display: flex; */
  position: absolute;
  min-width: 300px;
  z-index: 1;
}
.dropdown:hover .dropdowncontent {
  display: block;
}
