/* .timeBar {
  display: flex;
  justify-content: space-between;
}
.monthBar {
  border: 1px solid black;
  padding: 5px;
  font-size: 12px;
  align-items: center;
  background-color: #ebecee;
} */

.formTag {
  border-radius: 10px;
  padding: 20px;
  opacity: 0.7;
  margin: auto;
  width: 80%;
}
.formTag > form {
  display: flex;
  background: rgb(203, 199, 199);
  border-radius: 10px;
  padding: 20px;
  border: 3px solid red;
  justify-content: space-between;
}
.formTag > form > label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.inputTag {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid black;
}
.datePickerTag {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  border: 1px solid black;
}
.selectTag {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}
.logs {
  padding: 5px;
}
.todoTag {
  display: flex;
  gap: 3%;
}
.calendarTag {
  border: 2px solid grey;
  background-color: #ed565a;
  height: 410px;
  width: 35%;
  padding: 5px;
  border-radius: 10px;
}
.taskTag {
  width: 55%;
}
.table {
  background-color: #ed565a;
  width: 100%;
  border: 2px solid black;
  font-size: 15px;
}
.table th {
  border: 2px solid black;
}
.table td {
  border: 1px solid black;
}
/*
.table th {
  border: 1px solid black;
} */

@media (min-width: 500px) and (max-width: 900px) {
  .head {
    font-size: 15px;
  }
  .formTag > form > label {
    font-size: 12px;
  }
  .inputTag {
    width: 100px;
    padding: 3px;
  }
  .datePickerTag {
    padding: 3px;
    width: 70px;
  }
  .selectTag {
    padding: 3px;
    width: 100px;
    height: 25px;
  }
  .calendarTag {
    width: 45%;
    padding: 3px;
  }
  .taskTag {
    width: 50%;
  }
  .table {
    font-size: 12px;
  }
  .table2 td {
    font-size: 12px;
  }
  .logs {
    padding: 3px;
    font-size: 12px;
  }
}
@media (max-width: 499px) {
  .head {
    font-size: 12px;
  }
  .formTag {
    width: 95%;
    padding: 2px;
    margin: auto;
  }
  .formTag > form > label {
    font-size: 9px;
  }
  .inputTag {
    width: 100%;
    padding: 3px;
  }
  .datePickerTag {
    width: 80%;
    padding: 3px;
  }
  .selectTag {
    padding: 2px;
    width: 85%;
    height: 20px;
  }
  .todoTag {
    display: block;
  }
  .calendarTag {
    width: 95%;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .taskTag {
    width: 95%;
  }
  .table {
    font-size: 10px;
  }
  .table2 td {
    font-size: 10px;
  }
  .logs {
    padding: 2px;
    font-size: 8px;
  }
}
