.sourceDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0px;
  padding: 20px 10px;
  z-index: 1000;
  /* margin: auto; */
}

/* .mainDiv1 */

.mainDiv1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 33%;
}
.mainDiv1 > div > ul {
  display: none;
}
.divv:hover .reportDrop {
  display: block;
}

.divv {
  position: relative;
}
.divv > ul {
  position: absolute;
  background-color: white;
  z-index: 1;
  padding: 15px;
  border-radius: 10px;
  top: 20px;
  left: -80px;
  width: 200px;
}
.reportDrop {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  list-style: none;
  line-height: 30px;
}

.mainDiv1 > Link {
  text-decoration: none;
}
.logoImg {
  width: 150px;
  height: 22px;
}

/* maindiv2 */

.mainDiv2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 27%;
}

.getPro {
  border: 1px solid #04bda4;
  color: #04bda4;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px 15px;
}

.profileImg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.downloadIcon {
  background-color: #04bda4;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}
.downloadIcon > div {
  display: none;
}
.downloadModal {
  position: absolute;
  border-radius: 2px;
  background-color: white;
  z-index: 1;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 230px;
  left: -200px;
  top: 28px;
  cursor: pointer;
}
.downloadIcon:hover .downloadModal {
  display: block;
}

.deleteIcon {
  border-radius: 5px;
  padding: 5px;
  background-color: #fff7e5;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logout {
  background-color: #04bda4;
  color: white;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logout:hover {
  background-color: aliceblue;
  color: black;
}



@media (min-width: 500px) and (max-width: 900px) {
  .logout {
    padding: 3px;
    font-size: 10px;
    border: 1px solid black;
  }
  .logoImg {
    width: 80px;
    height: 20px;
  }
  .mainDiv1 {
    font-size: 12px;
    width: 40%;
  }
  .mainDiv2 {
    width: 57%;
  }

  .downloadIcon {
    padding: 3px;
  }
  .downloadModal {
    padding: 10px;
    top: 20px;
  }
}

@media (max-width: 499px) {
  .logout {
    padding: 3px;
    font-size: 8px;
    border: 1px solid black;
  }
  .sourceDiv {
    width: 90%;
  }
  .logoImg {
    width: 45px;
    height: 10px;
  }
  .mainDiv1 {
    font-size: 8px;
    width: 60%;
  }
  .mainDiv2 {
    width: 53%;
    font-size: 8px;
  }

  .mainDiv1 > div > ul {
    font-size: 8px;
  }

  .divv > ul {
    padding: 5px;
    top: 10px;
    left: -30px;
    width: 100px;
  }
  .reportDrop {
    line-height: 15px;
  }
  .playIcon {
    display: none;
  }
  .plusIcon {
    display: none;
  }

  /* maindiv2 */

  .getPro {
    font-size: 8px;
    border-radius: 5px;
    padding: 3px 5px;
  }
  .downloadIcon {
    display: none;
  }
  .profileImg {
    height: 15px;
    width: 15px;
  }

  .deleteIcon {
    border-radius: 5px;
    padding: 5px;
    background-color: #fff7e5;
    font-weight: bold;
    font-size: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .deleteIcons {
    display: none;
  }
} ;

